.sundered-doctrine-encounter-three {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .box {
    color: white;
    padding: 1rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);

    .title {
      text-align: center;
      margin: 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid grey;
    }

    .content-box {
      flex: 1;
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      position: relative;
      width: 100%;

      .steps-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

        .step-item {
          display: flex;
          flex-direction: column;

          .sub-title {
            text-align: center;
            margin: 0;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            border-bottom: 1px solid grey;
          }

          .steps {
            display: flex;
            flex-direction: column;

            &.empty {
              justify-content: center;
              align-items: center;
              flex: 1;
              padding: 1rem;
            }

            .step {
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: 0.5rem;

              img {
                width: 50px !important;
                height: 50px !important;
              }
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .box {
      height: 300px;

      .content-box {
        align-items: center;

        .input-grid {
          position: absolute;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: calc(100% - 4rem);
          height: 100%;
          justify-items: center;
          align-items: center;
          padding: 2rem;
          gap: 1rem;

          .grid-item {
            position: relative;

            .active {
              position: absolute;
              background-color: rgba(163, 123, 20, 0.25);
              box-shadow: 0 0 15px rgb(163, 123, 20);
              width: 63.5px;
              height: 63.5px;
              z-index: 999;
            }

            &.middle-left {
              margin-right: 50%;
            }

            &.middle-right {
              margin-left: 50%;
            }

            .MuiInputBase-root {
              .MuiSelect-select {
                width: 63.5px !important;
                height: 63.5px !important;
                padding: 0 !important;
                background-color: #1a1a1a;
              }

              .MuiOutlinedInput-notchedOutline {
                border-color: grey !important;
                border-width: 2px !important;
              }
            }
          }
        }
      }
    }
  }
}

img {
  width: 63.5px !important;
  height: 63.5px !important;
}

.MuiList-root {
  padding: 0 !important;
  display: grid !important;
  grid-template-columns: repeat(3, 63.5px) !important;

  .MuiMenuItem-root {
    padding: 0 !important;
    border: 1px solid grey !important;
  }
}

.MuiPopper-root {
  .MuiTooltip-tooltip {
    font-size: 15px !important;
  }
}

.MuiCheckbox-root {
  padding: 0 !important;
  position: absolute !important;
  color: grey !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 999 !important;

  &.Mui-checked {
    color: rgb(163, 123, 20) !important;
  }

  .MuiSvgIcon-root {
    font-size: 1rem !important;
  }
}


@media screen and (min-width: 768px) {
  .sundered-doctrine-encounter-three {
    .content {
      gap: 2rem;

      .box {
        height: 450px;

        .content-box {
          .input-grid {
            .grid-item {
              .active {
                width: 95.25px;
                height: 95.25px;
                box-shadow: 0 0 30px rgb(163, 123, 20);
                pointer-events: none;
              }

              .MuiInputBase-root {
                .MuiSelect-select {
                  width: 95.25px !important;
                  height: 95.25px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  img {
    width: 95.25px !important;
    height: 95.25px !important;
  }

  .MuiList-root {
    grid-template-columns: repeat(5, 95.25px) !important;
  }

  .MuiCheckbox-root {
    .MuiSvgIcon-root {
      font-size: 1.5rem !important;
    }
  }

}

@media screen and (min-width: 1440px) {
  .sundered-doctrine-encounter-three {

    .box {
      .content-box {
        .steps-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          gap: 1rem;
        }
      }
    }

    .content {
      flex-direction: row;
      gap: 2rem;

      .box {
        height: 650px;

        .content-box {
          .input-grid {
            .grid-item {
              .active {
                width: 127px;
                height: 127px;
                box-shadow: 0 0 45px rgb(163, 123, 20);
              }

              .MuiInputBase-root {
                .MuiSelect-select {
                  width: 127px !important;
                  height: 127px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  img {
    width: 127px !important;
    height: 127px !important;
  }

  .MuiList-root {
    grid-template-columns: repeat(5, 127px) !important;
  }

  .MuiCheckbox-root {
    .MuiSvgIcon-root {
      font-size: 2rem !important;
    }
  }

}