.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px !important;

  .MuiIconButton-root {
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    .MuiSvgIcon-root {
      color: rgba(163, 123, 20);
      font-size: 1.5rem !important;
    }

    &:hover {
      background-color: rgba(163, 123, 20, 0.25);
    }
  }

  .title {
    display: flex;
    align-items: center;
    color: white !important;
    font-size: 1rem !important;
    margin-right: auto;
    height: 40px !important;
    padding: 8px;
  }
}

@media screen and (min-width: 768px) {
  .base {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 1.25rem !important;
      }
    }

    .title {
      font-size: 1.1rem !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .base {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 2rem !important;
      }
    }

    .title {
      font-size: 1.8rem !important;
    }
  }
}