.base {
  display: flex;
  align-items: center;
  gap: 1rem;

  .MuiIconButton-root {
    .MuiSvgIcon-root {
      color: rgba(163, 123, 20);
      font-size: 1.5rem !important;
    }

    &:hover {
      background-color: rgba(163, 123, 20, 0.25);
    }
  }

  .title {
    color: white !important;
    font-size: 1rem !important;
    padding: 8px !important;
    line-height: 0.7 !important;
  }
}

@media screen and (min-width: 768px) {
  .base {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 1.75rem !important;
      }
    }

    .title {
      font-size: 1.5rem !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .base {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 2.5rem !important;
      }
    }

    .title {
      font-size: 2.25rem !important;
    }
  }
}