.wrapper {
  height: 100dvh;
  width: 100dvw;
}

.divider {
  position: absolute;
  height: calc(100% - 1.5rem);
  width: 2px;
  background-color: grey;
  margin: 0.75rem 0;
}

.glyph {
  height: 50px;
  position: relative;
  box-shadow: 0 0 25px 5px black;

  .active {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999;
    pointer-events: none;
    position: absolute;
    background-color: rgba(163, 123, 20, 0.25);
    box-shadow: 0 0 25px 5px rgb(163, 123, 20) !important;
  }

  .MuiInputBase-root {
    .MuiSelect-select {
      width: 50px !important;
      height: 50px !important;
      padding: 0 !important;
      background-color: #1a1a1a;
      position: relative;

      .tooltip {
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }

      img {
        width: 50px !important;
        height: 50px !important;
      }
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: grey !important;
      border-width: 2px !important;
    }
  }
}

.MuiPaper-root {
  margin-top: 1rem !important;

  .MuiList-root {
    padding: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(3, 54px) !important;

    .MuiMenuItem-root {
      padding: 0 !important;
      border: 2px solid grey !important;
      position: relative;

      .tooltip {
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }

      img {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}

.MuiPopper-root {
  .MuiTooltip-tooltip {
    font-size: 15px !important;
  }
}

.MuiCheckbox-root {
  padding: 0 !important;
  position: absolute !important;
  color: grey !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 999 !important;

  &.Mui-checked {
    color: rgb(163, 123, 20) !important;
  }

  .MuiSvgIcon-root {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .encounter-header {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 1.75rem !important;
      }
    }
  }

  .glyph {
    height: 75px;

    .active {
      width: 75px;
      height: 75px;
    }

    .MuiInputBase-root {
      .MuiSelect-select {
        width: 75px !important;
        height: 75px !important;

        img {
          width: 75px !important;
          height: 75px !important;
        }
      }
    }
  }

  .MuiPaper-root {
    .MuiList-root {
      grid-template-columns: repeat(3, 79px) !important;

      .MuiMenuItem-root {
        .tooltip {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          background-color: grey;
          padding: 3px 5px;
          border-radius: 8px;
          font-size: 12px;
          transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        }

        img {
          width: 75px !important;
          height: 75px !important;
        }

        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .MuiCheckbox-root {
    .MuiSvgIcon-root {
      font-size: 1.25rem !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .encounter-header {
    .MuiIconButton-root {
      .MuiSvgIcon-root {
        font-size: 2.5rem !important;
      }
    }
  }

  .glyph {
    height: 100px;

    .active {
      width: 100px;
      height: 100px;
    }

    .MuiInputBase-root {
      .MuiSelect-select {
        width: 100px !important;
        height: 100px !important;

        img {
          width: 100px !important;
          height: 100px !important;
        }
      }
    }
  }

  .MuiPaper-root {
    .MuiList-root {
      grid-template-columns: repeat(5, 104px) !important;

      .MuiMenuItem-root {
        .tooltip {
          font-size: 16px;
        }

        img {
          width: 100px !important;
          height: 100px !important;
        }
      }
    }
  }

  .MuiCheckbox-root {
    .MuiSvgIcon-root {
      font-size: 1.5rem !important;
    }
  }
}